body,
html {
  padding: 0;
  margin: 0;
}

.nepimg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 15px;
}

.welkom {
  text-align: center;
}

.portret img {
  height: 125px;
  width: 125px;
}

.inleiding p {
  text-align: center;
}

.inleiding-container {
  display: flex;
}

.inleiding-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 18px;
}

.uitleg-container {
  display: flex;
}

.uitleg-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 18px;
}
